# If you want Dash Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-cintamani.desktop

[Desktop Entry]
Comment=Dash Electrum Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-cintamani %u"
GenericName[en_US]=Dash Electrum
GenericName=Dash Electrum
Icon=electrum-cintamani
Name[en_US]=Dash Electrum
Name=Dash Electrum
Categories=Network;
StartupNotify=true
StartupWMClass=cintamani-electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/cintamanipay;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-cintamani --testnet %u"
Name=Testnet mode
